@model ProgramViewModel
@{
    ViewData["Title"] = "Create Program";
}

<h2>Create Faculty</h2>
<hr />
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Faculty</label>
        <select asp-for="FacultyId" class="form-control" asp-items="@Model.Faculties" >
            <option value="">Select Faculty</option>
        </select>
        <span asp-validation-for="FacultyId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Create" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
