@model ProgramViewModel

@{
    ViewData["Title"] = "Edit Program";
}

<h2>Edit Faculty</h2>
<hr>
<form method="post" action="Edit">
    <input type="hidden" asp-for="Id" />
     <div class="mb-3">
        <label>Faculty</label>
        <select asp-for="FacultyId" class="form-control" asp-items="@Model.Faculties" >
            <option value="">Select Faculty</option>
        </select>
        <span asp-validation-for="FacultyId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Faculty Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Edit" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
