@model ParentViewModel
@{
    ViewData["Title"] = "Update Parent";
}

<h2>Update Parent Record</h2>
<hr />
<form asp-action="Edit" method="post">
    <input asp-for="Id" type="hidden"/>
    <input asp-for="CreatedAt" type="hidden"/>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-select">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConctactNumber"></label>
        <input asp-for="ConctactNumber" class="form-control" />
        <span asp-validation-for="ConctactNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Update" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

