@model ParentViewModel
@{
    ViewData["Title"] = "Update Parent";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a asp-action="Index" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Go Back</a>
    </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Parent</h6>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <input asp-for="CreatedAt" type="hidden" />
                <input asp-for="PhotoUrl" type="hidden" />

                <div class="row">
                    <div class="col-10">
                        <div class="mb-3">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Gender"></label>
                            <select asp-for="Gender" class="custom-select">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        @if(Model.PhotoUrl==null){
                            <img class="img-fluid" src="~/Images/default.png" id="thumbnailPic" />
                        }
                        else{
                            <img class="img-fluid" src="~/Images/Parents/@Model.PhotoUrl" id="thumbnailPic" />
                        }
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="ConctactNumber"></label>
                    <input asp-for="ConctactNumber" class="form-control" />
                    <span asp-validation-for="ConctactNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Photo"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" asp-for="Photo" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" class="form-control btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnailPic').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}
