@model FacultyViewModel

@{
    ViewData["Title"] = "Edit Faculty";
}

<h2>Edit Faculty</h2>
<hr></hr>
<form method="post" action="Edit">
    <input type="hidden" asp-for="id" />
    <div class="mb-3">
        <label for="" class="form-label">Faculty Name</label>
        <input type="text" class="form-control" asp-for="name">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="description"></label>
        <textarea asp-for="description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Edit" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
