@model StudentViewModel
@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>
<hr />
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" type="text" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="text" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Create" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
